<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample_Suite" thread-count="2" parallel="classes">
 <parameter name="browser" value="edge"></parameter>

  <test thread-count="5" name="ModuleOneTest">
	  
    <classes>
  <class name="parallelScript.SamplOneTest"/>
    <class name="parallelScript.SampleTwoTest"/>
    </classes>
  </test> <!-- ModuleOneTest -->
</suite> <!-- Sample_Suite -->
